input[type="search"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    
    display: flex;
    border: 0px none transparent;
    border-radius: 10px;
    line-height: 20px;
    background-color: white;
    padding: 3px 5px;
    
}

.center {
    justify-content: center;
}